<head>
	<style type="text/css">
		.dexamp:before {
			content: "*";
			}
		.dxref {
			margin-right: 3px;
			padding: 2px 6px;
			color: #fff;
			font-weight: 700;
			font-size: .75rem;
			text-align: center;
			background-color: #1d2956;
			border-radius: 50px;
		}
		.dlab, .dgram, .ddomain, .duse, .dx-lab {
			font-size: .75rem;
		}
		.ddef_d {
			margin-top: 10px;
			font-size: 18px;
			line-height: 1.5;
		}

		.db {
			font-weight: 700;
		}	
		.dpos-h_hw {
			margin: 5px 0;
			font-size: 36px;
			color: #1d2a57;
			font-weight: 400;
		}	
		.dpos-h .pos {
			font-weight: 700;
		}
		.dpos-g .dpos {
			font-size: 14px;
			font-weight: bold;
			font-style: italic;
		}
		.tc-bd, .tc-bd a {
			color: #1d2a57;
		}	
		.dsense_h {
			margin-bottom: 12px;
			padding-top: 10px;
			color: #5d2fc1;
			font-size: 1rem;
			font-weight: 700;
		}
		body {
			margin: 0;
			padding: 0;
			font-size: 16px;
			color: #1d2a57;
			font-family: Arial,Helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
		}	
		.dexamp .eg {
			font-family: Arial,Helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif,ico-c;
		}	
		.dexamp .eg, .dexamp.eg {
			padding-right: 15px;
			font-style: italic;
			vertical-align: initial;
		}
	</style>
</head>
